<a href="https://colab.research.google.com/github/123saga/chatting_insights/blob/main/chatting_insights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
import os
import pandas as pd
import numpy as np
import json
np.random.seed(123)
! git clone https://github.com/123saga/chatting_insights.git

In [5]:
## read sample data
customer_cases = pd.read_csv("chatting_insights/customer_cases.csv")
customer_cases.head(10)

fatal: destination path 'chatting_insights' already exists and is not an empty directory.

   Unnamed: 0 case_id            date_time customer_id channel  reason
0           1   CC101  2017-01-01 10:32:03       C2448   phone  signup
1           2   CC102  2017-01-01 11:35:47       C2449   phone  signup
2           3   CC103  2017-01-01 11:37:09       C2450   phone  signup
3           4   CC104  2017-01-01 13:28:14       C2451   phone  signup
4           5   CC105  2017-01-01 13:52:22       C2452   phone  signup
5           6   CC106  2017-01-01 15:23:02       C2453   phone  signup
6           7   CC107  2017-01-01 15:30:36       C2454   phone  signup
7           8   CC108  2017-01-02 08:57:09       C2455   phone  signup
8           9   CC109  2017-01-02 09:17:09       C2456   phone  signup
9          10   CC110  2017-01-02 09:22:17       C2457   phone  signup

In [6]:
## customer info
customer_info = pd.read_csv("chatting_insights/customer_info.csv")
customer_info.head(10)

   Unnamed: 0 customer_id  age  gender
0           1       C2448   76  female
1           2       C2449   61    male
2           3       C2450   58  female
3           4       C2451   62  female
4           5       C2452   71    male
5           6       C2453   56    male
6           7       C2454   53    male
7           8       C2455   53  female
8           9       C2456   70  female
9          10       C2457   68    male

In [7]:
## instal openai 
!pip install --upgrade openai
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.2-py3-none-any.whl (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.1/70.1 KB 3.0 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from openai) (4.65.0)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.9/dist-packages (from openai) (2.27.1)
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 21.4 MB/s eta 0:00:00
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2022.12.7)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 KB 17.8 MB/s eta 0:00:00
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (264 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 264.6/264.6 KB 30.3 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->openai) (22.2.0)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 KB 17.7 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.2 yarl-1.8.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pandasql) (1.4.4)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/dist-packages (from pandasql) (1.4.47)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=946fdb7503f54663396676ab4e6b7804ea90bb7a575d24798081986748dd714a
  Stored in directory: /root/.cache/pip/wheels/63/e8/ec/75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [8]:
## pass API key
import openai
os.environ["OPENAI_API_KEY"] = input("Paste your OpenAI key here and hit enter:")

Paste your OpenAI key here and hit enter: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

In [9]:
from pandasql import sqldf
def query_inference():
    while True:
        query_prompt = input("What's on your mind? ")
        openai.api_key = os.environ["OPENAI_API_KEY"]
        response = openai.Completion.create(
            model= "text-davinci-003",
            prompt="\"\"\"\nTable:1 customer_cases, columns = [case_id::text,date_time::date time,customer_id:text,channel:factor,reason:factor] \n"+
            "Table:2 customer_info, columns = [customer_id::text,age:factor,gender:factor]"
            +"\n\nCreate a SQLite query for"
            +query_prompt
            +"\n\"\"\"\n\n\n",
            max_tokens=300,
            temperature=0,
            top_p=1,
            frequency_penalty=0,
            presence_penalty=0
        )
        print(response['choices'][0]['text'])
        print(sqldf(response['choices'][0]['text']))
        user_input = input("Do you want to continue? (y/n): ")
        if user_input.lower() == 'n':
            break

In [ ]:
query_inference()

What's on your mind? highest volume channel for female in 2019
SELECT channel, COUNT(*)
FROM customer_cases
INNER JOIN customer_info
ON customer_cases.customer_id = customer_info.customer_id
WHERE strftime('%Y', date_time) = '2019'
AND gender = 'female'
GROUP BY channel
ORDER BY COUNT(*) DESC
LIMIT 1;
  channel  COUNT(*)
0   phone     24610

In [ ]:
## Examples
## highest number of monthly cases in 2018
## highest volume channel for female in 2019