<a href="https://colab.research.google.com/github/123saga/chatting_insights/blob/main/chatting_insights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
import os
import pandas as pd
import numpy as np
import json
np.random.seed(123)

In [ ]:
## read sample data
customer_cases = pd.read_csv("customer_cases.csv")
customer_cases.head(10)

   Unnamed: 0 case_id            date_time customer_id channel  reason
0           1   CC101  2017-01-01 10:32:03       C2448   phone  signup
1           2   CC102  2017-01-01 11:35:47       C2449   phone  signup
2           3   CC103  2017-01-01 11:37:09       C2450   phone  signup
3           4   CC104  2017-01-01 13:28:14       C2451   phone  signup
4           5   CC105  2017-01-01 13:52:22       C2452   phone  signup
5           6   CC106  2017-01-01 15:23:02       C2453   phone  signup
6           7   CC107  2017-01-01 15:30:36       C2454   phone  signup
7           8   CC108  2017-01-02 08:57:09       C2455   phone  signup
8           9   CC109  2017-01-02 09:17:09       C2456   phone  signup
9          10   CC110  2017-01-02 09:22:17       C2457   phone  signup

In [ ]:
## customer info
customer_info = pd.read_csv("customer_info.csv")
customer_info.head(10)

   Unnamed: 0 customer_id  age  gender
0           1       C2448   76  female
1           2       C2449   61    male
2           3       C2450   58  female
3           4       C2451   62  female
4           5       C2452   71    male
5           6       C2453   56    male
6           7       C2454   53    male
7           8       C2455   53  female
8           9       C2456   70  female
9          10       C2457   68    male

In [ ]:
## instal openai 
!pip install --upgrade openai
!pip install pandasql

Requirement already satisfied: openai in /opt/anaconda3/lib/python3.9/site-packages (0.27.2)
Requirement already satisfied: requests>=2.20 in /opt/anaconda3/lib/python3.9/site-packages (from openai) (2.28.1)
Requirement already satisfied: aiohttp in /opt/anaconda3/lib/python3.9/site-packages (from openai) (3.8.4)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.9/site-packages (from openai) (4.64.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.20->openai) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.20->openai) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.20->openai) (2022.9.24)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (1.8.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (21.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: pandasql in /opt/anaconda3/lib/python3.9/site-packages (0.7.3)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.4.4)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy->pandasql) (1.1.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

In [ ]:
## pass API key
import openai
os.environ["OPENAI_API_KEY"] = input("Paste your OpenAI key here and hit enter:")

Paste your OpenAI key here and hit enter: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

In [ ]:
from pandasql import sqldf
def query_inference():
    while True:
        query_prompt = input("What's on your mind? ")
        openai.api_key = os.environ["OPENAI_API_KEY"]
        response = openai.Completion.create(
            model= "text-davinci-003",
            prompt="\"\"\"\nTable:1 customer_cases, columns = [case_id::text,date_time::date time,customer_id:text,channel:factor,reason:factor] \n"+
            "Table:2 customer_info, columns = [customer_id::text,age:factor,gender:factor]"
            +"\n\nCreate a SQLite query for"
            +query_prompt
            +"\n\"\"\"\n\n\n",
            max_tokens=300,
            temperature=0,
            top_p=1,
            frequency_penalty=0,
            presence_penalty=0
        )
        print(response['choices'][0]['text'])
        print(sqldf(response['choices'][0]['text']))
        user_input = input("Do you want to continue? (y/n): ")
        if user_input.lower() == 'n':
            break

In [ ]:
query_inference()

What's on your mind? highest volume channel for females in 2019
SELECT channel, COUNT(*)
FROM customer_cases
INNER JOIN customer_info
ON customer_cases.customer_id = customer_info.customer_id
WHERE gender = 'female' AND strftime('%Y', date_time) = '2019'
GROUP BY channel
ORDER BY COUNT(*) DESC;
  channel  COUNT(*)
0   phone     24610
1   email      2230

In [ ]:
highest number of monthly cases in 2018